{% extends "base.html" %}
{% load static %}

{% block content %}

<input hidden id="session_id" value="{{ session_id }}">
<input hidden id="public_key" value="{{ public_key }}">

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Aben</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example.
        It’s built with default Bootstrap components and utilities with little customization.</p>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col"></div>
    <div class="col">
        <div class="card mb-4 shadow-sm mx-auto text-center">
            <div class="card-header">
                <h4 class="my-0 fw-normal">Premium</h4>
            </div>
            <div class="card-body ">
                <h1 class="card-title pricing-card-title">$49.99 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>7 days free trial</li>
                </ul>
                <button type="button"
                        class="w-100 btn btn-lg btn-primary"
                        onclick="signup()">Sign Up</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_script %}
<script>

function signup(){
    var stripe = Stripe($('#public_key').val());
    return stripe.redirectToCheckout(
    { sessionId: $('#session_id').val() });
}

</script>
{% endblock extra_script %}